body{
    margin: 0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: lightcyan;
    color: brown;
}
.container {
        margin: 0 auto;
        width: 900px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 18px;
        
        /* height: auto;
        width: auto; */
        text-align: center;
        /* margin-left: 50px; */
        }
 
div image {
    background-size: cover;
}
.container div{
    text-align: center;
    height: 250px;
    width: 180px;
    background:navajowhite;
    border-style: dashed;
    margin: 8px;
    border-color: white;
    border-radius: 12px;
}

/* img {
    height: 350px;
    width: 200px;
} */

h1{
    font-size: 35px;
    background-color: whitesmoke;
    width: auto;
    height: auto;
}

.styleHeader{
    padding: 10px;
    border-radius: 25px;
    /* border: solid; */
    height: auto;
    width: auto;
    background-color: whitesmoke;
    margin-bottom: 18px;
}


.card{
    color: transparent;
    
 
}